/*
  Niko Permilovsky
  4/3/2023
  Section AG, Tara Wueger, Allison Ho

  This is the CSS file for resume.html for the CP1 assignment. It
  uses a navbar to allow easy navigation throughout the document,
  as well as <hr> borders to differentiate between sections.
*/
h1,
#links {
  text-align: center;
}

hr {
  border: 2px solid black;
  line-height: 0px;
}

.right {
  float: right;
}

.nav-link a {
  display: block;
  text-decoration: none;
}

.nav-link a:hover {
  color: blue;
}

#menu {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
}

#menu ol {
  list-style-type: none;
}
